<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ricardo.videocortes"
    android:versionCode="13"
    android:versionName="1.12">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:theme="@style/AppTheme"
        android:label="VideoCortes"
        android:icon="@drawable/ic_video_cortes"
        android:roundIcon="@drawable/ic_video_cortes"
        android:resizeableActivity="true"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
